

@import './variables';


* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cepeges{
  width: 200px;
  background-color: white;
  // border: 1px solid black;
}

.container-focus {
  height: 55px;
}
.container-nofocus{
  height: 40px;
}

.bar-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.bar-nofocus {
  background-color: transparent;
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  &::after{
    content: "";
    position: relative;
    left: 10px;
    border-left: 10px solid var(--color);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

.bar-focus {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  // left: 15px;
  clip-path: polygon(0 0, 90% 0%, 100% 50%, 90% 100%, 0 100%);
  border: 2px solid transparent;
  &:after{
    content: "";
    height: 100%;
    width: 100%;
  }
}

.letter{
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 0.5rem;
  color: white;
  
}
.letter-focus{
  // left: 15px;
  font-size: 3rem;
  -webkit-text-stroke: 2px black;
}

.focus-info {
  position: absolute;
  color: pink;
  height: 100%;
  width: 100px;
  left: -100px;
  z-index: 2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:after{
    content: "";
    background-color: black;
    width: 2px;
    height: 90%;
  }
  &.focus-info :nth-child(2) {order: 3;} //WTF O_O ca marche!
}

.dpe-info{
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ges-info{
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.span {
  font-size: 1.3rem;
  font-weight: bold;
}

.legend {
  font-size: 0.4rem;
  font-weight: bold;
}


.focus {
  height: 100px;
  font-size: 2rem;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.dpe-bar::after {
  content: "";
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid var(--color);
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.bars-container {
  width: 500px;
  height: 500px;
  background: red;
}




.indicateur {
  margin-top: 2px;
  margin-bottom: 10px;
  position: relative;
  background-color: blue;
  z-index: 2;
  font-size: 1.5rem;
  padding: 10px;
  color: white;
  background-color: black;
}

/* .indicateur::after {
  content: '';
  width: 1000px;
  left: -1000px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  z-index: 1;
} */

.indicateur::before {
  content: '';
  width: 230px;
  left: -250px;
  border-bottom: 1px dashed black;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.indicateur::after {
  content: "";
  position: absolute;
  right: 47px;
  bottom: 0;
  border-right: 24px solid black;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}

.indicateur-legend {
  color: black;
  position: absolute;
  font-size: 0.9rem;
  top: 50px;
  left: -20px;
}

