/* css for demo */

.dpegesDemoContainer {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.params {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.values-container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.param-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.param-selector-button {
  height: 25px;
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
}
.preset-param-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.create-button {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.sticker-ratio-container {
  padding: 10px;
}

.sticker-size-container{
  padding: 10px
}

.custom-size-container {
  padding: 10px;
}

.instructions{
  font-size: 1.5rem;
}

.download-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
  
}

// dpeges stuff

.main-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.top-legend{
  color: #329837;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.bottom-legend{
  color: #e4251f;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.side-legend{
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  left: 0;
  padding-right: 7px;
  color: #b8b8b8;
  border-right: 2px solid #b8b8b8;
  font-weight: bold;
}

.container-bars{
  // width: 70%;
  height: 100%;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-bar{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.bar-letter{
  position: absolute;
  z-index: 10;
  color: white;
  font-weight: bold;
  padding-left: 15px;
}

.bar-letter-focus{
  position: absolute;
  z-index: 10;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  -webkit-text-stroke: 3px black;
  padding-top: 0px; //something wrong here
}

.bar-info-focus{
  position: absolute;
  // height: 100%;
  height: calc(100%);
  z-index: 2;
  background-color: lightblue;
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:after{
    content: "";
    background-color: black;
    width: 3px;
    height: 90%;
  }
  &.bar-info-focus :nth-child(2) {order: 3;} //WTF O_O ca marche!
}

.focus-dpe-info{
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:after{
    content: "consommation";
    position: absolute;
    font-weight: bold;
    top: 2px;
  }
}

.focus-ges-info{
  padding-top: 2px;
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:after{
    content: "émissions";
    position: absolute;
    font-weight: bold;
    top: 2px;
  }
}

.focus-legend {
  font-weight: bold;
}

