// * {
//   box-sizing: border-box;
//   font-family: sans-serif;
// }

.toto-barContainer{
    width: 100%;
    height: 10%;
    background-color: lightblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}
.toto-arrowContainer{
    width: 50%;
    height: 100%;
    background-color: silver;
    display: flex;
}
.toto-arrowBody{
    height: 100%;
    background-color: lightpink;
}
.toto-arrowTip{
    height: 100%;
    background-color: lightsalmon;
}
.toto-legendContainer{
    width: 50%;
    height: 100%;
    background-color: lightgreen;
}

.dpeGes-barLetter {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: bold;
//   padding-left: 10px;
  left: 2px;
}
.dpeGes-main-container {
    width: 100%;
    height: 100%;
    // height: 100%;
    // padding-bottom: 50%;
    // background-color: red;
    // padding: 10px;
    &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
.dpeGes-barArrowContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.dpeGes-barsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.dpeGes-barContainer{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: end;
}
.dpeGes-barTipContainer{
    // background-color: purple;
    width: 24%;
    height: 100%;
    transform: translateX(-2.1vw)translateY(0.9vw);
    // overflow: hidden;
}
.dpeGes-barTipContainer-focus{
    // background-color: purple;
    width: 24%;
    height: 100%;
    transform: translateX(-3.2vw)translateY(1.3vw);
    // overflow: hidden;
}
.dpeGes-barBase{
    height: 100%;
    // border-left: 3px solid black;
    // border-top: 3px solid black;
    // border-bottom: 3px solid black;
    z-index: 10;
}
.dpeGes-barTip{
    width: 70.7%;
    height: 70.7%;
    rotate: 45deg;
    // border-top: 3px solid black;
    // border-right: 3px solid black;
    z-index: -100;
    // border: 3px solid black;
    // transform: translateX(0vh)translateY(4vh);
    transform-origin: center;
    &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    //after is a css trick used to keep the square locked as a square
}