* {
  box-sizing: border-box;
  font-family: sans-serif;
}
.dpeGes-dpeGesLegendContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    span{
        font-weight: bold;
    }
}

.dpeGes-gesLegendContainer{
    width: 49%;
    height: 100%;
    background-color: lightblue;
}

.toto-barContainer{
    width: 100%;
    height: 15%;
    background-color: lightgrey;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}
.toto-arrowContainer{
    width: 50%;
    height: 100%;
    // background-color: brown;
    display: flex;
}
.toto-arrowBody{
    height: 100%;
    // background-color: lightpink;
    display: flex;
    justify-content: start;
    align-items: center;
    // overflow: visible;
    z-index: 20;
}
.toto-arrowTip{
    height: 100%;
    z-index: 10;
    // background-color: lightsalmon;
}
.dpeGes-legendContainer{
    width: 50%;
    height: 100%;
    // background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    &:after {
    content: "";
    background-color: black;
    width: 2px;
    height: 90%;
    }
    &.dpeGes-legendContainer :nth-child(2) {
        order: 3;
    }
}

.dpeGes-barLetter {
    color: white;
    font-weight: bold;
    padding-left: 5px;
}

.dpeGes-barLetter-focus{
    -webkit-text-stroke: 2px black;
    padding-left: 0px;
}

.dpeGes-main-container {
    width: 100%;
    height: 100%;
    // height: 100%;
    // padding-bottom: 50%;
    // background-color: red;
    // padding: 10px;
    &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
.dpeGes-barArrowContainer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.dpeGes-barsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.dpeGes-barContainer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: end;
}
.dpeGes-barTipContainer{
    // background-color: purple;
    width: 24%;
    height: 100%;
    transform: translateX(-2.1vw)translateY(0.9vw);
    // overflow: hidden;
}
.dpeGes-barTipContainer-focus{
    // background-color: purple;
    width: 24%;
    height: 100%;
    transform: translateX(-3.2vw)translateY(1.3vw);
    // overflow: hidden;
}
.dpeGes-barBase{
    height: 100%;
    // border-left: 3px solid black;
    // border-top: 3px solid black;
    // border-bottom: 3px solid black;
    z-index: 10;
}
.dpeGes-barTip{
    width: 70.7%;
    height: 70.7%;
    rotate: 45deg;
    // border-top: 3px solid black;
    // border-right: 3px solid black;
    z-index: -100;
    // border: 3px solid black;
    // transform: translateX(0vh)translateY(4vh);
    transform-origin: center;
    &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    //after is a css trick used to keep the square locked as a square
}