@charset "UTF-8";
.toto {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 1000px;
  margin: auto;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.params {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.cepeges {
  width: 500px;
  background-color: white;
  padding-left: 170px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.container-focus {
  height: 85px;
}

.container-nofocus {
  height: 60px;
}

.bar-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.bar-nofocus {
  background-color: transparent;
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.bar-nofocus::after {
  content: "";
  position: relative;
  left: 15px;
  border-left: 15px solid var(--color);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.bar-focus {
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  clip-path: polygon(0 0, 90% 0%, 100% 50%, 90% 100%, 0 100%);
  border: 3px solid transparent;
}
.bar-focus:after {
  content: "";
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 90% 0%, 100% 50%, 90% 100%, 0 100%);
}

.letter {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  color: white;
}

.letter-focus {
  font-size: 5rem;
  -webkit-text-stroke: 3px black;
}

.focus-info {
  position: absolute;
  height: 100%;
  width: 150px;
  left: -150px;
  z-index: 2;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.focus-info:after {
  content: "";
  background-color: black;
  width: 3px;
  height: 90%;
}
.focus-info.focus-info :nth-child(2) {
  order: 3;
}

.dpe-info {
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dpe-info:after {
  content: "consommation";
  position: absolute;
  font-size: 0.7rem;
  top: -18px;
}

.ges-info {
  padding-top: 2px;
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ges-info:after {
  content: "émissions";
  position: absolute;
  font-size: 0.7rem;
  top: -18px;
}

.focus-info-span {
  padding-top: 15px;
  font-weight: bold;
}

.legend {
  font-size: 0.6rem;
  font-weight: bold;
}

.A-bar:before {
  font-size: 0.7rem;
  font-weight: bold;
  width: 200px;
  color: #329837;
  position: absolute;
  top: -15px;
  left: 0px;
  content: "logement très performant";
}

.G-bar:before {
  font-size: 0.7rem;
  font-weight: bold;
  width: 400px;
  color: #e4251f;
  position: absolute;
  bottom: -15px;
  left: 0px;
  content: "logement extrêmement consommateur d'énergie";
}

.F-bar:before {
  content: "passoire énergétique";
  text-align: end;
  font-size: 0.7rem;
  font-weight: bold;
  height: 135%;
  width: 60px;
  border-right: 2px solid #b8b8b8;
  color: #b8b8b8;
  position: absolute;
  top: 0px;
  left: -80px;
  padding-top: 50px;
  padding-right: 10px;
}

.depges {
  width: 400px;
  background-color: white;
  margin-top: 5px;
  border: 1px solid black;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.top-legend {
  color: #329837;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.bottom-legend {
  color: #e4251f;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.side-legend {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  left: 0;
  padding-right: 7px;
  color: #b8b8b8;
  border-right: 2px solid #b8b8b8;
  font-weight: bold;
}

.container-bars {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-bar {
  width: 100%;
  background-color: green;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.bar-letter {
  position: absolute;
  z-index: 10;
  color: white;
  font-weight: bold;
  padding-left: 15px;
}

.bar-letter-focus {
  position: absolute;
  z-index: 10;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  -webkit-text-stroke: 3px black;
  padding-top: 0px;
}

.bar-info-focus {
  position: absolute;
  height: 100%;
  z-index: 2;
  background-color: lightblue;
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bar-info-focus:after {
  content: "";
  background-color: black;
  width: 3px;
  height: 90%;
}
.bar-info-focus.bar-info-focus :nth-child(2) {
  order: 3;
}

.focus-dpe-info {
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.focus-dpe-info:after {
  content: "consommation";
  position: absolute;
  font-weight: bold;
  top: 2px;
}

.focus-ges-info {
  padding-top: 2px;
  color: black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.focus-ges-info:after {
  content: "émissions";
  position: absolute;
  font-weight: bold;
  top: 2px;
}

.focus-legend {
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
